// Colors
$dark: #272727;
$light-dark: #373737;
$light: #ccc;
$white: #fff;
$text-color: #aaa;
$primary-colour: #272727;

// Font Weights
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

// Borders
$border: 1px solid $dark;   
$border-radius: 8px;

// Text Indent
$text-indent: 24px;