* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222831;
}

.navbar {
  margin: 0 0 0 3vw;
  height: 6vh;
  color: #aaa;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 20%;
  color: #00adb5;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 8px;
  border: 1px solid #222831;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px auto;
  width: 500px;
  height: 550px;
  color: #aaa;
  background-color: #393e46;
  border-radius: 8px;
}
.login h1 {
  margin: 20px 0;
}
.login h6 {
  width: 95%;
  text-align: start;
  height: 0;
  color: #f66;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.login .login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
}
.login .login_form input {
  margin: 30px 0 5px;
  width: 100%;
  height: 50px;
  border: 1px solid #222831;
  border-radius: 8px;
  background-color: #222831;
  color: #ccc;
  text-indent: 24px;
  caret-color: #ccc;
  font-weight: 500;
  outline: none;
}
.login .login_button {
  margin: 30px 0 20px;
  width: 200px;
  height: 40px;
  border: 1px solid #222831;
  border-radius: 8px;
  background-color: #ccc;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}
.login .login_button:hover {
  background-color: #222831;
  color: #ccc;
  transition: 0.3s all;
}
.login .login_h3 {
  font-weight: 400;
  font-size: 14px;
  background-color: #222831;
}
.login .login_link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.login .login_link:hover {
  color: #ccc;
  transition: 0.3s all;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 3vw;
  background-color: #222831;
  color: #aaa;
  width: auto;
  height: 93vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  border-radius: 12px 0 0 0;
  overflow: hidden;
  font-weight: 500;
}
.body .body_navbar {
  display: flex;
  height: 50px;
  background-color: #424851;
}
.body .body_navbar_left {
  width: 20vw;
  border: 1px solid #222831;
}
.body .body_navbar_middle {
  width: 70vw;
  border: 1px solid #222831;
}
.body .body_navbar_right {
  width: 10vw;
  border: 1px solid #222831;
}
.body .body_container {
  display: flex;
  height: 100%;
}
.body .body_navbar_search-logo {
  position: absolute;
  margin: 16px 0 0 20px;
  color: #222831;
}
.body .body_navbar_search-box {
  display: flex;
  margin: 10px auto;
  height: 30px;
  width: 90%;
  outline: none;
  background-color: #aaa;
  border: 1px solid #222831;
  border-radius: 8px;
  text-indent: 24px;
  caret-color: #222831;
}

.recent-contacts {
  display: flex;
  width: 20vw;
  height: 98%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  background-color: #393e46;
  border: 1px solid #222831;
  border-radius: 0 0 0 8px;
}
.recent-contacts .recent-contacts_search-box {
  margin: 10px auto;
  height: 30px;
  width: 90%;
  outline: none;
  background-color: #aaa;
  border: 1px solid #222831;
  border-radius: 8px;
  text-indent: 24px;
  caret-color: #222831;
}
.recent-contacts .recent-contacts_search-logo {
  position: absolute;
  margin: 16px 0 0 20px;
  color: #222831;
}

.chat-box {
  width: 70vw;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  border: 1px solid #222831;
  background-color: #222831;
}
.chat-box .chat-box_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  width: 94%;
}
.chat-box .chat-box_bottom-user {
  width: 14%;
}
.chat-box .chat-box_bottom-user-select {
  width: 14%;
}

.online-contacts {
  width: 10vw;
  height: 98%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  background-color: #393e46;
  border: 1px solid #222831;
}

.My404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 200px auto;
  color: #ccc;
  font-size: 20px;
  font-weight: 700;
}
.My404 .My404_LinkTo {
  margin: 50px auto;
  text-decoration: underline;
  color: #ccc;
}
.My404 .My404_LinkTo:hover {
  color: #393e46;
  transition: 0.3s all;
}/*# sourceMappingURL=main.css.map */