$dark: #272727;
$light: #ccc;
$primary-colour: #272727;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

body {
    background-color: $dark;
}

.body-css {
    margin: 6vh 0 0 3vw;
    background-color: $light;
    color: $dark;
    width: auto;
    height: 93vh;
    max-height: max-content;
    border-radius: 12px 0 0 0;
    overflow: hidden;
}